body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header{
    display: flex;
    margin: 0;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    background-color: #1F2937;

}

#headerText{
    font-size: 24px;
    color: #F9FAF8;
}

.links{
    display: flex;
    gap: 16px;
}

.link{
    text-decoration: none;
    color: #F9FAF8;
    font-size: 18px;
    color: #e5e7eb96;
}

.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    padding-top: 100px;
    padding-bottom: 100px;
}

.hero-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 600px;
    height: 400px;
}

#hero-title{
    font-size: 48px;
    color: #F9FAF8;
    padding: 0;
    margin: 0;
}

#hero-text{
    font-size: 18px;
    color: #e5e7eb96;
}

#hero-button{
    width: 100px;
    height: 30px;
    font-size: 18px;
    border-radius: 5px;
    border: 0;
    color: #F9FAF8;
    background-color: #3882F6;
}

#image{
    width: auto;
    height: 400px;
}

.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    height: 400px;
}

#information-header{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.images{
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 100%;
}

.info-img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-img{
    width: auto;
    height: 100px;
}

.quote-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    height: 400px;
}

.quote{
    width: 50%;
}

.quote-credit-container{
    width: 50%;
}

#quote-text{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

#quote-credit{
    text-align: right;
    font-weight: bold;
}

.call-section{
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
    
}

.call-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    background-color: #3882F6;
    width: 60%;
    height: 200px;
}

.call-left{
    color: #E5E7EB;
}

#call-button{
    color: #E5E7EB;
    background-color: #3882F6;
    border: 2px solid #E5E7EB;
    border-radius: 4px;
    height: 40px;
    width: 120px;
    font-size: 18px;
    font-weight: bold;
}

#call-header{
    font-size: 24px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    height: 80px;
}

#footer-text{
    color: #F9FAF8;
}